taxonomy-reference-data-system-api/src/main/mule/taxonomy-reference-data-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="taxonomyreferencedata-raml-config" api="taxonomyreferencedata-raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="54dabe6a-d2d8-4435-92d8-9c9ed0dd0d52" file="properties/loggingProperties.yaml" />
	<configuration doc:name="Configuration" doc:id="70032493-92df-4e32-a65c-69f38eb90cf0" defaultErrorHandler-ref="common-global-error_handler" />
	<import doc:name="Import" doc:id="298bba02-bfcd-4c88-b955-bd38c942f5b7" file="common-error-handling.xml" doc:description="Common-Error-Handling Flow"/>
	<import doc:name="Import" doc:id="18e80743-5a5b-4a38-9b69-51d461bc43d0" file="common-global-config.xml" doc:description="Common-Global-Config File"/>
	<import doc:name="Import" doc:id="acdd1ebe-b05f-4673-b78c-1e4f5bd7d869" file="common-logging.xml" doc:description="Common-Logging Flow"/>
	<import doc:name="Import" doc:id="ccaa0fe8-ab91-4b61-8f64-0205a501dcac" file="common-audit.xml" doc:description="Common-Audit Flow"/>
	<flow name="taxonomyreferencedata-raml-main">
        <http:listener doc:name="Listener" doc:id="dbfc341c-beb7-4e44-9869-522a83e70022" config-ref="Global_HTTP_Listener_config" path="/api/v1/taxonomyRef/*">
        <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="taxonomyreferencedata-raml-config" />
    
</flow>
    <flow name="get:\(RefCode):taxonomyreferencedata-raml-config">
        <ee:transform doc:name="intializeVariables" doc:id="070c03ec-b7ba-4981-bf79-8a33197075be" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="applicationName" ><![CDATA[p("applicationName")]]></ee:set-variable>
				<ee:set-variable variableName="transactionLevel" ><![CDATA[p("transaction.level")]]></ee:set-variable>
				<ee:set-variable variableName="flowName" ><![CDATA[p("flowName")]]></ee:set-variable>
				<ee:set-variable variableName="instanceId" ><![CDATA[uuid()]]></ee:set-variable>
				<ee:set-variable variableName="businessProcessDomain" ><![CDATA[p("businessProcessDomain")]]></ee:set-variable>
				<ee:set-variable variableName="sourceApplication" ><![CDATA[p("sourceApplication")]]></ee:set-variable>
				<ee:set-variable variableName="destinationApplication" ><![CDATA[p("destinationApplication")]]></ee:set-variable>
				<ee:set-variable variableName="enviroment" ><![CDATA[p("env")]]></ee:set-variable>
				<ee:set-variable variableName="StartTime" ><![CDATA[
fun format(d: DateTime) = d as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"}
---
format(now())
]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.uriParams.RefCode]]></ee:set-variable>
				<ee:set-variable variableName="businessData" ><![CDATA[p("businessData")]]></ee:set-variable>
			
</ee:variables>

		</ee:transform>
		<flow-ref doc:name="logEntryInfo" doc:id="af5f46b4-0aad-4cff-adae-da22c67fc7b9" name="logEntryInfo"/>
		<flow-ref doc:name="AuditEntryInfo" doc:id="08466c4a-5a39-4a84-ac11-6850d92769bc" name="AuditEntryInfo"/>
		<until-successful maxRetries="${untilSuccessful.maxRetries}" doc:name="Until Successful" doc:id="ede32c47-84c8-4e32-942d-16ef6fdca1f4" millisBetweenRetries="${untilSuccessful.retryTime}">
			<try doc:name="Try" doc:id="1c8add2a-6f33-4aec-bc8d-bccf6cd268e8" transactionalAction="ALWAYS_BEGIN">
				<db:select doc:name="selectTaxonomyRef" doc:id="bafe2f97-bc1a-4c1d-bb8d-46374af726dd" config-ref="Database_Config">
			<db:sql><![CDATA[select * from applicationdb.Taxonomy_Ref where Reference_Code=:Reference_Code]]></db:sql>
			<db:input-parameters><![CDATA[#[{Reference_Code:attributes.uriParams.RefCode}]]]></db:input-parameters>
		</db:select>
			
</try>
		</until-successful>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f860452e-f37c-4cfc-a95a-a355e952c9f0" doc:name="taxonomyRefData">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="logExitInfo" doc:id="30d99645-f14f-41fe-9e37-56d40c7b52cf" name="logExitInfo"/>
		<flow-ref doc:name="AuditExitInfo" doc:id="318562a7-4433-4eae-bb10-40847c76e847" name="AuditExitInfo"/>
    
</flow>
</mule>
